.sidebar {
    position: fixed;
    top: 61px;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: white;
    transition: width 0.15s ease;
    z-index: 100;
}

.sidebar.active {
   display: unset;
   width: 190px;
}

.sidebar-link {
    display: grid;
    place-items: center;
    width: 60px;
    height: 55px;
    padding: 2px;
    margin-bottom: 20px;
    margin: 8px;
    border-radius: 16px;
    transition: filter 0.15s ease;
    cursor: pointer;
}

.sidebar-link.active {
    display: flex;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

}

.sidebar-link:hover {
    background-color: whitesmoke;
}

.sidebar-link:active {
    filter: brightness(0.9);
}


.sidebar-icon-text {
    font-size: 10px;
    transition: margin 0.15s ease, font 0.15s ease;
}

.sidebar-icon-text.active {
    font-size: 11px;
    margin-left: 12px;
}



@media (max-width: 493px) {

    .sidebar {
        display: none;
    }

    .sidebar.active {
        width: 150px;
    }

    .sidebar-link.active {
        width: 110px;
    }
}